$red: rgba(218,99,93,1.0);
$wht: rgba(252,252,252,1.0);
$blk: rgba(48,48,48,1.0);
$gry: rgba(230,230,230,1.0);

body {
  background-color: $wht;
  color: $blk;
}
.main {
  height: 100vh;
}

a {
  color: $blk;
  text-decoration: none;
  &:hover {
    color: $blk;
    text-decoration: none;
  }
}

//Login
.front {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: $red;
  text-align: center;
  padding: 60px;
  
  .title {
    display: inline-block;
    width: auto;
    padding: 0px 20px;
    border-bottom: solid 4px $wht;
    font-family: 'Roboto Slab', serif;
    color: $wht;
    font-size: 40px;
  }
  .btn {
    background-color: $wht;
    color: $blk;
    margin-top: 30px;
    width: 200px;
    
    &.dropdown-toggle {
      background-color: $wht;
    }
  }
  .dropdown-item {
    width: 200px;
  }  
}

//Home Topbar
.tbar {
  position: fixed;
  top: 0;
  z-index: 10;
  height: 60px;
  background-color: $red;
  color: $wht;
  text-align: center;
  
  .menu-button {
    width: 36px;
    height: 36px;
    position: fixed;
    top: 12px;
    left: 12px;
    border: solid 2px transparent;
    z-index: 11;
    
    @media(min-width:721px){
      display: none;
    }
    
    
    .bar {
      height: 4px;
      width: 24px;
      margin: 5px auto;
      background-color: $wht;
      transition: all 0.5s ease;
    }
    
    &.cross {
      .bar {
        &:nth-of-type(1) {
          transform: translate(0px, 8.5px) rotate(45deg);
        }
        &:nth-of-type(2) {
          display: none;
        }
        &:nth-of-type(3) {
          transform: translate(0px, -0.5px) rotate(-45deg);
        }
      }
    }
  }
  
  .page-title {
    display: inline-block;
    width: auto;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    line-height: 60px;
    
    &:hover {
      cursor: pointer;
    }
    
    @media(max-width: 400px) {
      font-size: 18px;
    }
  }
}

//Home Sidebar & Content
.wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  
  sidebar {
    overflow: hidden;
    width: 250px;
    flex: 0 0 auto;
    background-color: $gry;
    height: 100vh;
    padding-top: 60px;
    z-index: 9;
    transition: all 0.5s ease-out;
    
    @media(max-width:720px){
      margin-left: -250px;
    }
    
    &.showsb {
      margin-left: 0px;
      width: 100%;
    }
    
    .user-id {
      text-align: center;
      font-weight: 600;
      font-size: 16px;
      padding: 10px;
      border-bottom: solid 1px $wht;
      
      &:hover {
        cursor: pointer;
      }
    }
    
    .menu {
      padding: 0;
      font-size: 16px;
      
      .menu-item {
        border-bottom: solid 1px $wht;
        
        .red {
          color: $red;
          font-size: 12px;
        }
        
        &:hover {
          background-color: $red;
          .red {
            color: $wht;
          }
        }
        
        a {         
          div {
            padding: 10px 15px;
          }
        }
      }
    }
  }
  
  .main {
    padding: 20px;
    padding-top: 75px;
    min-height: 100vh;
    flex: 1 1 auto;
  }
}

//Vote
.vote {
  padding: 20px;
  
  .title {
    text-align: center;
    margin: 5px auto;
    height: auto;
    font-weight: 600px;
  }  
  .slider {
    height: 500px;
    padding: 20px;
    margin: 20px auto;
    text-align: center;
  }
  
  //Slider
  .comfort-slider.rzslider .rz-bar {
    margin-left: -22px;
    background: $red;
    background: linear-gradient(to top, #005B96, #77dd77, #ff6961);
    height: 100%;
    width: 30px;
  }
  .comfort-slider.rzslider .rz-pointer {
    width: 42px;
    height: 10px;
    top: auto; /* to remove the default positioning */
    bottom: 0;
    background-color: $blk;
    margin-left: -6px;
  }
  .comfort-slider.rzslider .rz-pointer:after {
    display: none;
  }
  .comfort-slider.rzslider .rz-bubble {
    bottom: 0px;
    margin-left: 10px;
  }
  .comfort-slider.rzslider .rz-tick {
    width: 10px;
    height: 2px;
    margin-left: -35px;
    border-radius: 50%;
    background: $blk;
    top: -7px;
  }
  .comfort-slider.rzslider .rz-limit {
    display: none;
  }
  .comfort-slider.rzslider .rz-tick-legend {
    margin-left: -25px;
    bottom: -15px;
  }
  
  .vote-button{
    width: 200px;
    height: 60px;
    background-color: $red;
    color: $wht;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    line-height: 60px;
    text-align: center;
    margin: 10px auto;
    &:hover {
      cursor: pointer;
    }
  }
}