$red: #fa4045;
//$red: #779ecb;
$wht: #ffffff;
$blk: #5c5c5c;
$lgry: #e4e4e4;
$gry: #d2d2d2;
$dgry: #b3b3b3;

body {
  background-color: $wht;
  color: $blk;
  font-family: 'Ubuntu', sans-serif;
}
.main {
  height: 100vh;
  
  .cbox {
    padding: 10px;
    
    .title {
      text-align: center;
      margin: 5px auto;
      height: auto;
      font-weight: 700;
    }
  }
}
a {
  color: $blk;
  text-decoration: none;
  &:hover {
    color: $wht;
    text-decoration: none;
  }
}

//Login
.front {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: $red;
  padding: 50px;
  text-align: center;
  
  @media(max-width: 560px){
    padding: 35px;
  }
  
  .title {
    display: inline-block;
    width: auto;
    padding: 10px 20px;
    border-bottom: solid 4px $wht;
    color: $wht;
    font-size: 40px;
    
    @media(max-width: 560px){
      font-size: 30px;
    }
  }
  
  form {
    margin: 0 auto;
    margin-top: 40px;
    max-width: 300px;
    
    label {
      color: $wht;
    }
    
    small{
      color: $wht;
      font-size: 11px;
    }
    
    a {
      width: 150px;
      background-color: $lgry;
      color: $blk;
      border-color: rgba(0, 0, 0, 0.15);
      font-weight: 700;
      &:hover {
        background-color: $wht;
        color: $red;
        border-color: $red;
      }
    }
  }
}

//Top Bar
.tbar {
  position: fixed;
  top: 0;
  z-index: 10;
  height: 60px;
  background-color: $red;
  color: $wht;
  text-align: center;
  
  .menu-button {
    width: 36px;
    height: 36px;
    position: fixed;
    top: 12px;
    left: 12px;
    border: solid 2px transparent;
    z-index: 11;
    
    @media(min-width:721px){
      display: none;
    }
    
    
    .bar {
      height: 4px;
      width: 24px;
      margin: 5px auto;
      background-color: $wht;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
    
    &.cross {
      .bar {
        &:nth-of-type(1) {
          -webkit-transform: translate(0px, 8.5px) rotate(45deg);
              -ms-transform: translate(0px, 8.5px) rotate(45deg);
                  transform: translate(0px, 8.5px) rotate(45deg);
        }
        &:nth-of-type(2) {
          display: none;
        }
        &:nth-of-type(3) {
          -webkit-transform: translate(0px, -0.5px) rotate(-45deg);
              -ms-transform: translate(0px, -0.5px) rotate(-45deg);
                  transform: translate(0px, -0.5px) rotate(-45deg);
        }
      }
    }
  }
  
  .page-title {
    display: inline-block;
    width: auto;
    text-align: center;
    font-size: 24px;
    line-height: 60px;
    
    &:hover {
      cursor: pointer;
    }
    
    @media(max-width: 400px) {
      font-size: 18px;
    }
  }
}

//Home Sidebar & Content
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  
  sidebar {
    overflow: hidden;
    width: 250px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    background-color: $gry;
    height: 100vh;
    padding-top: 60px;
    z-index: 9;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    
    @media(max-width:720px){
      margin-left: -250px;
    }
    
    &.showsb {
      margin-left: 0px;
      width: 100%;
    }
    
    .user-id {
      text-align: center;
      font-weight: 700;
      font-size: 16px;
      padding: 10px;
      border-bottom: solid 1px $wht;
    }
    
    .menu {
      padding: 0;
      font-size: 16px;
      
      .menu-item {
        border-bottom: solid 1px $wht;
        
        &:hover {
          background-color: $red;
        }
        
        a {         
          div {
            padding: 10px 15px;
          }
        }
        
        button {
          padding: 10px 15px;
          border-width: 0px;
          width: 100%;
          background-color: transparent;
          color: $blk;
          text-align: left;
          
          &:hover {
            color: $wht;
            cursor: pointer;
          }
        }
      }
      
      .sub-menu-item {
        background-color: $dgry;
      }
    }
  }
  
  .main {
    padding: 20px;
    padding-top: 75px;
    min-height: 100vh;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

//Site Information
.sinfo {
  .site-details {
    max-width: 400px;
    margin: 5px auto;
    padding: 10px 5px;
    border-bottom: solid 2px $red;
    .site-detail {
      padding: 5px 10px;
      .sd-title {
        color: $red;
        max-width: 150px;
        min-width: 140px;
        display: inline-block;
      }
      .sd-content {
        min-width: 200px;
      }
    }
  }
}

//Vote
.vote {
  height: calc(100% - 60px);
  .slider {
    height: calc(100% - 90px);
    padding: 20px;
    margin: 20px auto;
    text-align: center;
  }
  
  //Slider
  .comfort-slider.rzslider .rz-bar {
    margin-left: -22px;
    background: $gry;
    background: -webkit-gradient(linear, left bottom, left top, from(#0002a1), color-stop(#0120d8, #0374ff, #00ffff, #3aff03, #ffff00, #ff8800, #d61010), to(#7c0616));
    background: -webkit-linear-gradient(bottom, #0002a1, #0120d8, #0374ff, #00ffff, #3aff03, #ffff00, #ff8800, #d61010, #7c0616);
    background: -o-linear-gradient(bottom, #0002a1, #0120d8, #0374ff, #00ffff, #3aff03, #ffff00, #ff8800, #d61010, #7c0616);
    background: -webkit-gradient(linear, left bottom, left top, from(#0002a1), color-stop(#0120d8), color-stop(#0374ff), color-stop(#00ffff), color-stop(#3aff03), color-stop(#ffff00), color-stop(#ff8800), color-stop(#d61010), to(#7c0616));
    background: linear-gradient(to top, #0002a1, #0120d8, #0374ff, #00ffff, #3aff03, #ffff00, #ff8800, #d61010, #7c0616);
    height: 100%;
    width: 30px;
  }
  .comfort-slider.rzslider .rz-pointer {
    width: 42px;
    height: 10px;
    top: auto; /* to remove the default positioning */
    bottom: 0;
    background-color: $blk;
    margin-left: -6px;
  }
  .comfort-slider.rzslider .rz-pointer:after {
    display: none;
  }
  .comfort-slider.rzslider .rz-bubble {
    bottom: 0px;
    margin-left: 10px;
  }
  .comfort-slider.rzslider .rz-tick {
    width: 10px;
    height: 2px;
    margin-left: -35px;
    border-radius: 30px;
    background: $blk;
    top: -7px;
  }
  .comfort-slider.rzslider .rz-limit {
    display: none;
  }
  .comfort-slider.rzslider .rz-tick-legend {
    margin-left: -25px;
    bottom: -15px;
  }
  
  .vote-button{
    width: 200px;
    height: 60px;
    background-color: $red;
    color: $wht;
    font-size: 18px;
    line-height: 60px;
    text-align: center;
    margin: 10px auto;
    &:hover {
      cursor: pointer;
      color: $gry
    }
  }
}

//Electricity Bill
.ebill {
  .bill-form {
    font-size: 14px;
    max-width: 400px;
    margin: 0px auto;
    padding: 0px 10px;    
  }
  .bill-button{
    width: 200px;
    height: 40px;
    background-color: $red;
    color: $wht;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    margin: 0px auto;
    margin-top: 30px;
    &:hover {
      cursor: pointer;
      color: $gry;
    }
  }
}

//Edit User Info
.einfo {
  .info-form {
    font-size: 14px;
    max-width: 500px;
    margin: 0px auto;
    padding: 10px;
  }
  .info-button{
    width: 200px;
    height: 40px;
    background-color: $red;
    color: $wht;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    margin: 0px auto;
    margin-top: 30px;
    &:hover {
      cursor: pointer;
      color: $gry;
    }
  }
}

//Cumulative Data
.cdata {
  .chart-div {
    text-align: center;
    padding: 10px;
    max-height: 500px;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    
    .button {
      background-color: $gry;
      padding: 5px;
      margin: 20px 2px;
      display: inline-block;
      min-width: 100px;
      color: $blk;
      height: 40px;
      line-height: 30px;
      
      &:hover {
        color: $red;
        cursor: pointer;
      }
    }
  }
}

//Instantaneous Data
.idata {
  height: 100%;
  max-height: 622px;
  max-width: 720px;
  overflow: hidden;
  
  @media(max-width: 480px) {
      max-height: 388px;
  }
  @media(max-width: 380px) {
      max-height: 372px;
  }
  
  .row {
    height: 100%;
    .col-8, .col-4 {
      height: 100%;
      padding: 10px;
      @media(max-width:560px){
        padding: 2px 5px;
      }
    }
  }
  .met {
    max-width: 480px;
    margin: 20px auto;
    border: solid 1px $gry;
    padding: 30px 20px;
    max-height: 50%;
    
    @media(max-height: 720px) {
      padding: 15px;
    }
    
    @media(max-width: 480px) {
      padding: 10px;
      margin: 10px auto;
    }
    
    .mtitle {
      width: 60%;
      border-bottom: solid 1px $red;
      text-align: center;
      margin: 0 auto;
      padding: 10px 10px 10px 10px;
      
      @media(max-width: 480px) {
        font-size: 14px;
        width: 90%;
        padding: 5px 5px 10px 5px;
      }
      @media(max-width: 380px) {
        font-size: 12px;
        width: 96%;
        padding: 2px 2px 8px 2px;
      }
    }    
    .mnum {
      font-size: 56px;
      padding: 20px;
      text-align: center;
      
      @media(max-height: 720px) {
        padding: 10px;
      }
      @media(max-width: 480px) {
        padding: 10px;
        font-size: 40px;
      }
      @media(max-width: 400px) {
        padding: 10px;
        font-size: 34px;
      }
    }
  }
  
  //Slider
  .slider {
    height: calc(100% - 30px);
    margin: 10px auto;
    text-align: center;
  }
  .insta-slider.rzslider {
    left: 80px;
    font-size: 14px;
    line-height: 20px;
    @media(max-width: 800px) {
      left: 70px;
      font-size: 13px;
    }
    @media(max-width: 480px) {
      left: 60px;
      font-size: 13px;
    }
    @media(max-width: 400px) {
      left: 50px;
      font-size: 11px;
    }
  }
  /*Gradient Bar*/
  .insta-slider.rzslider .rz-bar {
    margin-left: -22px;
    background: $gry;
    background: -webkit-gradient(linear, left bottom, left top, from(#0002a1), color-stop(#0120d8, #0374ff, #00ffff, #3aff03, #ffff00, #ff8800, #d61010), to(#7c0616));
    background: -webkit-linear-gradient(bottom, #0002a1, #0120d8, #0374ff, #00ffff, #3aff03, #ffff00, #ff8800, #d61010, #7c0616);
    background: -o-linear-gradient(bottom, #0002a1, #0120d8, #0374ff, #00ffff, #3aff03, #ffff00, #ff8800, #d61010, #7c0616);
    background: -webkit-gradient(linear, left bottom, left top, from(#0002a1), color-stop(#0120d8), color-stop(#0374ff), color-stop(#00ffff), color-stop(#3aff03), color-stop(#ffff00), color-stop(#ff8800), color-stop(#d61010), to(#7c0616));
    background: linear-gradient(to top, #0002a1, #0120d8, #0374ff, #00ffff, #3aff03, #ffff00, #ff8800, #d61010, #7c0616);
    height: 100%;
    width: 30px;
  }
  /*Pointer*/
  .insta-slider.rzslider .rz-pointer {
    width: 40px;
    height: 10px;
    top: auto; /* to remove the default positioning */
    bottom: 0;
    background-color: #000;
    margin-left: -5px;
  }
  .insta-slider.rzslider .rz-pointer:after {
    display: none;
  }
  /*Ticks*/
  .insta-slider.rzslider .rz-ticks {
    left: -35px;
  }
  .insta-slider.rzslider .rz-tick {
    width: 8px;
    height: 2px;
    margin-left: 4px;
    border-radius: 30px;
    background: $blk;
    top: -7px;
  }
  .insta-slider.rzslider .rz-tick-legend {
    bottom: -13px;
    right: 15px;
  }
}

//Energy Consumption History
.edata {
  .chart-div {
    text-align: center;
    padding: 10px;
    max-height: 500px;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    
    .button {
      background-color: $gry;
      padding: 5px;
      margin: 20px 2px;
      display: inline-block;
      min-width: 100px;
      color: $blk;
      height: 40px;
      line-height: 30px;
      
      &:hover {
        color: $red;
        cursor: pointer;
      }
    }
  }
}

//Location Plan
.plan {
  .plan-img {
    padding-top: 20px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    img {
      max-width: 100%;
      max-height: 500px;
      width: auto;
      height: auto;
      @media(max-height: 720px) {
        max-height: 350px;
      }
    }
  }
  .log-dets {
    width: 100%;
    max-width: 320px;
    margin: auto;
    margin-top: 10px;
    .det {
      padding: 5px;
      .loc {
        display: inline-block;
        width: 160px;
      }
      .id {
        color: $red;
        display: inline-block;
      }
    }
  }
}