<topbar></topbar>
<div class='wrapper'>
  <sidebar id='{{id}}' ng-class='{showsb:sidebar}'></sidebar>
  <div class='main' ng-hide='sidebar'>
    <div class='ebill cbox'>
      <div class='title'>
        Add Electricity Bill Screen
      </div>
      <div class='bill-form'>
        <form>
          <div class='bill-div'>
            <label>Service No.</label>
            <input type='text'/>
          </div>
          <div class='bill-div'>
            <label>T No.</label>
            <input type='text'/>
          </div>
          <div class='bill-div'>
            <label>Billing Period</label>
            <input type='text'/>
          </div>
          <div class='bill-div'>
            <label>Units Consumed</label>
            <input type='text'/>
          </div>
          <div class='bill-div'>
            <label>Bill Amount</label>
            <input type='text'/>
          </div>
        </form>
      </div>
      <div class='bill-button'>
        ADD BILL
      </div>
    </div>
  </div>
</div>