<topbar></topbar>
<div class='wrapper'>
  <sidebar ng-class='{showsb:sidebar}'></sidebar>
  <div class='main' ng-hide='sidebar'>
    <div class='sinfo cbox container'>
      <div class='title'>
        Site Information
      </div>
      <div class='site-details'>
        <div class='site-detail row'>
          <div class='sd-title col-sm'>Username</div>
          <div class='sd-content col-sm'>{{user.name}}</div>
        </div>
        <div class='site-detail row'>
          <div class='sd-title col-sm'>Coordinator ID</div>
          <div class='sd-content col-sm'>{{user.id}}</div>
        </div>
      </div>
      <div class='site-details'>
        <div class='site-detail row'>
          <div class='sd-title col-sm'>Site Address</div>
          <div class='sd-content col-sm'>Kasturba Lalabhai Campus,<br>University Road,<br>Vasant Vihar, Navrangpura,<br> Ahmedabad, Gujarat 380009</div>
        </div>
      </div>
    </div>
  </div>
</div>